body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.button {
  background: #428bca;
  padding: 1em 2em;
  color: #fff;
  border: 0;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  height: 100%;
  width: 100%;
  overflow: auto;
}

.modal-content {
  margin: 10% auto;
  width: 60%;
  box-shadow: 2px 2px 15px 5px rgba(228,228,228,0.8);
  background: #F2F7F9;
}

.modal-header h4{
  margin-bottom: 0;
  color: #8D8F90;
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 1em 1em 0;
}

.modal-body {
  padding: 10px 20px;
  background: #fff;
  color: #8D8F90;
  background: #F2F7F9;
  font-size: 18px;
}

.modal-body h4{
  color: #575757;
}

.close {
  float: right;
  line-height: 4.5;
}

